[2013-09-26 16:04] kirantpatil opened #1 "GitLab issue tracker support"
Hi,

Please add support for GitLab issue tracker.

https://github.com/gitlabhq/gitlabhq

Thanks for nice project.

[2013-09-26 16:11] kirantpatil opened #2 "Testcasedb as Rails engine"
Hi,

What would you think if testcasedb as rails engine ?

I would like it in that way and integrate with GitLab and use it seamlessly.

In future we will also contribute to the project.

Thanks.

[2013-09-26 18:44] kirantpatil opened #3 "Postgresql db support"
Hi,

Can we use Postgresql instead of Mysql with out any issues ?

If not then what needs to be done.

Thanks.

[2013-09-26 21:08] #2 closed, assigned to nobody

[2013-10-26 04:47] #3 closed, assigned to nobody

[2013-12-09 03:19] kirantpatil opened #4 "BUI(Browser user interface) Facelift"
Facelift testcasedb BUI similar or better than http://www.testiatarantula.com/

[2013-12-09 03:45] kirantpatil opened #5 "Routing error while accessing test_cases_sample.xls"
## Steps Reproduce:
1. Go to http://192.168.122.234:3000/test_cases/new/import page
2. Click on "Download Sample Spreadsheet" button
## Actual Result:

A page with url "http://192.168.122.234:3000/test_cases_sample.xls" and it contents,

Routing Error

No route matches [GET] "/test_cases_sample.xls"

Try running rake routes for more information on available routes.

[2013-12-14 17:49] kirantpatil opened #6 "[Feature Request] Omniauth cas support"
Add cas support for testcasedb.

Cas allow us to integrate testcasedb with other apps and single signon with multiple apps.

[2013-12-27 09:16] #5 closed, assigned to nobody

[2013-12-30 08:52] kirantpatil opened #7 "Test Suits instead of Test Plans"
I think the use of the name Test Plans is incorrect in testcasedb, instead it should be Test Suits

Test Plan: http://en.wikipedia.org/wiki/Test_plan

What is test plan?
A test plan is a document detailing a systematic approach to testing a system such as a machine or software. The plan typically contains a detailed understanding of the eventual workflow

Test Suite: http://en.wikipedia.org/wiki/T

[2014-03-31 19:59] #7 closed, assigned to nobody

[2014-03-31 20:00] #4 closed, assigned to nobody

[2014-03-31 20:01] #1 closed, assigned to nobody

[2014-06-02 03:23] #6 closed, assigned to nobody

[2014-06-02 03:25] kirantpatil opened #8 "[Feature Request] Google OAuth2.0 support"
please add new feature to access the testcasedb using google account.

[2014-06-06 09:52] kirantpatil opened #10 "[Feature Request] Sidekiq for background processing"
Sidekiq is used by many high profile Rails apps for backgroud processing. Testcasedb is going to be one among the famous rails app like gitlab, discourse ... Hence should adopt it.

[2014-06-06 09:57] kirantpatil opened #11 "[Feature Request] Notification management"
Allow notifications(new user registration, comments to Testcases ...) send through email.

[2014-06-06 10:55] kirantpatil opened #12 "[Feature Request] Redis for caching"
Allow Redis as cache for testcasedb

[2014-06-15 16:01] #8 closed, assigned to nobody

[2014-06-21 10:30] harshith30 opened #13 "An error occurred while installing mysql2 (0.3.13), and Bundler cannot continue."
Hi ,
    i'm new to Ruby on Rails , when ever i try to run `bundle install` i get the following error

[code]

   Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

[code]

Results logged to /home/harshith/.gem/ruby/gems/mysql2-0.3.13/ext/mysql2/gem_make.out

---

System Details :
Operating System - Fedora 20
 Ruby version        - ruby 1.9.3p547 (2014-05-14 revisio

[2014-06-21 18:44] ChrisWesterfield opened #14 "LDAP Support"
It would be great to hook the users into LDAP instead of managing an additional user base from scratch.

[2014-06-25 17:00] harshith30 opened #15 "How to Solve - Access denied for user 'root'@'localhost' (using password: NO) (Mysql2::Error)"
Hi,
   I have followed every instructions given the pdf , but when i try to run `rails server` , it starts and exits. below is the procedure which i followed , i have also included the details about the database.yml which resides in /tcb/tcb/config folder

---

   [harshith@localhost ~]$ mysql -u root -p
Enter password:  p@ssw0rd

Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your Ma

[2014-06-27 06:51] #15 closed, assigned to nobody

[2014-06-27 07:45] harshith30 opened #16 "Getting NoMethodError: `google_auth_enbled` after i try to access localhost"
Hi ,
     After starting the rails server in production environment when i try to access local host i get the following error.

![screenshot from 2014-06-27 12 35 59](https://cloud.githubusercontent.com/assets/7028737/3408462/c4b06cd0-fdc9-11e3-9d4c-0994b654f90a.png)

[code]

![screenshot from 2014-06-27 12 31 35](https://cloud.githubusercontent.com/assets/7028737/3408496/a494d098-fdca-11e3-81b4-b

[2014-06-27 15:59] #16 closed, assigned to nobody

[2014-06-27 16:41] harshith30 opened #17 "ActionView::Template::Error (application.css isn't precompiled)"
Hi,
    After starting the rails server in production environment and try to access localhost i get the following error
![screenshot from 2014-06-27 21 32 54](https://cloud.githubusercontent.com/assets/7028737/3414359/9cab4f98-fe14-11e3-956c-717a2fed4308.png)

---

I'm getting this error after  the recent patch which resolved  all the issues regarding "google_auth_enable ".

The error message whic

[2014-06-28 09:07] #13 closed, assigned to nobody

[2014-06-29 13:03] #17 closed, assigned to nobody

[2014-07-01 10:49] harshith30 opened #18 "PG::UndefinedTable: ERROR: relation "settings" does not exist"
Hi,
      I'm getting the above error whenever i try to run  `rake assets:precompile`.

[code]

---

[code]

---

[code]

![postres database](https://cloud.githubusercontent.com/assets/7028737/3442005/2ad94efa-010d-11e4-8a0b-a57e8d8e347a.png)

---

[code]

   commit 96c776a5e23dc587330ee724ca63876d7abf11f9
   Author: Marc Joffe mjoffe@msjit.ca
   Date:   Thu Jun 26 10:32:55 2014 -0400

[code]

---

[2014-07-02 10:17] kirantpatil opened #19 "undefined method value' for nil:NilClass /home/kiran/testcasedb/config/initializers/omniauth.rb"
With the migrated database, I cloned again the project and try to do db:migrate on the old database and am getting below error
### db:migrate error

---

kiran@jaihanuman:~/testcasedb$ bundle exec rake db:migrate RAILS_ENV='production'
rake aborted!
undefined method `value' for nil:NilClass
/home/kiran/testcasedb/config/initializers/omniauth.rb:3:in`block in <top (required)>'
/home/kiran/testcased

[2014-07-03 11:35] kirantpatil opened #20 "default user admin is not created"
Steps to reproduce:
1. Clone the testcasedb
2. Create the database "production"
3. execute ./scripts/setup -p
4. migrate the database
5. go to database and check the users table
### Database table output:

---

template1=# \c tcdb_production
You are now connected to database "tcdb_production" as user "postgres".

tcdb_production=# select \* from users;
 id | username | email | first_name | last_na

[2014-07-04 07:32] #18 closed, assigned to nobody

[2014-07-04 09:38] #19 closed, assigned to nobody

[2014-07-04 10:26] kirantpatil opened #21 "CreateSettingsGoogleAuth is not migrated properly"
I tried to access using the google oauth, I get below error on browser.
### Error on browser

---
1. That’s an error.

Error: invalid_request

Missing required parameter: client_id

Learn more
Request Details

[code]

Settings database does not contain "Google Auth Client ID" and "Google Auth Secret"
### Sceenshot of settings

---

![screenshot from 2014-07-04 15 35 45](https://cloud.githubusercon

[2014-07-04 13:26] #20 closed, assigned to nobody

[2014-07-05 06:06] #21 closed, assigned to nobody

[2014-07-06 06:49] kirantpatil opened #22 "Googleauth: 401. That’s an error. Error: disabled_client"
It is because the client ID (283342400864- bfsged1tjbbljuiclph3kbflc03r8uh8.apps.googleusercontent.com) stored in database is different from the one shown in browser.

I deleted the cookies and cache, but still no idea from where it is picking the wrong Client ID.
### Error on browser

---
1. That’s an error.

Error: disabled_client

The OAuth client was disabled.
Request Details

[code]

That’s a

[2014-07-07 02:35] #22 closed, assigned to nobody

[2014-07-07 02:42] kirantpatil opened #23 "The page isn't redirecting properly"
It tries process the authentication and returns below error

The cookies are enabled and does accept in browser.

Firefox Version 30.0
### Error on browser
##

The page isn't redirecting properly

Firefox has detected that the server is redirecting the request for this address in a way that will never complete.

[code]

[2014-07-07 03:39] #23 closed, assigned to nobody

[2014-07-15 13:13] harshith30 opened #24 "Settings table not defined yet"
Hi,
  When i try to migrate db i get the above message , I did a fresh installation of project and database.

harshith@harshith-Inspiron-3520:~/testcasedb$ script/setup -p
Generated config/app_config.yml
Updated secret key
Migrating production database
Installing base function

harshith@harshith-Inspiron-3520:~/testcasedb$ bundle exec rake db:migrate RAILS_ENV=production --trace
*\* Invoke db:migr

[2014-07-18 15:29] #24 closed, assigned to nobody

[2014-07-18 22:16] harshith30 opened #25 "A Question Regarding Setup File"
Hi,
   In the file setup ( ~/testcasedb/script/setup ) , when we run this file under production
   environment

   harshith@harshith-Inspiron-3520:~/testcasedb$ script/setup -p

   the following code  triggers

 # system "bundle"
if options[:production] == false
  puts "Creating all databases"
  system "bundle exec rake db:create:all"
  system "bundle exec rake db:migrate"
  system "bundle exec ra

[2014-07-29 17:57] kirantpatil opened #26 "An error has occured when clicked on "My Settings" link"
## Steps to reproduce:

1) Login as admin with google auth
2) Click on "My Settings" link
## Error message on Unicorn log file:

Started GET "/" for 127.0.0.1 at 2014-07-29 13:49:58 -0400
Started GET "/login?referer=%2F" for 127.0.0.1 at 2014-07-29 13:49:59 -0400
Started GET "/auth/google_oauth2" for 127.0.0.1 at 2014-07-29 13:50:02 -0400
(google_oauth2) Request phase initiated.
Started GET "/auth

[2014-07-31 16:20] kirantpatil opened #29 "tcdb init script to run unicorn"
We have modified GitLab init script to run unicorn server. GitLab has included such scripts under the lib directory (https://github.com/gitlabhq/gitlabhq/tree/master/lib/support).
# ! /bin/sh
# GITLAB CI
# Maintainer: @randx
# Authors: rovanion.luckey@gmail.com, @randx, @jvanbaarsen
### BEGIN INIT INFO
# Provides:          gitlab-ci
# Required-Start:    $local_fs $remote_fs $network $syslog redis-

[2014-08-05 05:22] kirantpatil opened #30 "Unable to create testcase with no category"
Steps to reproduce:
1. Login to the testcasedb app
2. Create new testcase and do not select any category for the product
3. Click on "Create Test Case" button

Expected output:
Testcase should be created
or
Testcase should display some message to add category to create testcase

Actual output:
Testcase is neither created nor showing any message for the reason not creating

[2014-08-05 05:28] kirantpatil opened #31 "Testcase alignment issue"
Steps to reproduce:
1. Create multiple testcases
2. go to "Test Case Tree View" and click on the category

Actual output:
Find the attached screenshot

![screenshot from 2014-08-05 10 58 07](https://cloud.githubusercontent.com/assets/1178055/3807225/52297574-1c61-11e4-8108-6f1a4d218e7b.png)

![screenshot from 2014-08-05 11 01 41](https://cloud.githubusercontent.com/assets/1178055/3807239/d8da70dc-

[2014-08-06 09:36] kirantpatil opened #33 "XML API: Version not found for this product"
Steps to reproduce:
1) Create testcase with product, category, version
2) Create XML API User and assign the above product to the user
3) Create a command.xml to check the version of the product
4) Execute the command:
    curl -k --data-ascii @command.xml https://domian_name/webapi/run.xml?api_key="abCDyDCW4GftOLmeeky2"

Actual output:
<?xml version="1.0" ?>
<result>
<success>No</success>
<error>

[2014-08-06 09:40] #33 closed, assigned to nobody

[2014-08-06 10:11] kirantpatil opened #34 "NameError: undefined local variable or method `qax' for #<TcdbHome:0x00000000e0ea70>"
Steps to reproduce:
1) Created the single automation testcase as per automation_example.pdf file
2) Executed as below
    ruby test_suite.rb

Actual output:
1) All testcases runs as per in the script on the browser
2) Once all steps finished its output is as below
[smita@localhost qax]$ ruby test_suite.rb
Run options:
### Running tests:

E

Finished tests in 8.921268s, 0.1121 tests/s, 0.0000 asser

[2014-08-08 12:56] kirantpatil opened #35 "`configure_version_and_assignment': undefined method `text' for nil:NilClass (NoMethodError)"
Steps to reproduce:
1) Create testing script files as in automation pdf file.
2) Execute "ruby test_suite.rb"

Actual output:
1) The script runs the test steps using firefox browser first time.
2) Reboot the system and rerun the command and  it throws the below error
a) [smita@localhost qax]$ ruby test_suite.rb
test_suite.rb:60:in `configure_version_and_assignment': undefined method`text' for nil:

[2014-08-08 13:10] #34 closed, assigned to nobody

[2014-08-09 20:51] #29 closed, assigned to nobody

[2014-08-16 04:47] #25 closed, assigned to nobody

[2014-08-16 16:59] #30 closed, assigned to nobody

[2014-08-16 17:00] #26 closed, assigned to nobody

[2014-08-16 17:01] #35 closed, assigned to nobody

[2014-08-22 19:49] pva opened #37 ""dashboard" lists deleted test assignment"
I've created tests assignment and assigned on myself. Next I went to Test Assignments -> List and deleted it. Yet Test assignment is still visible on the main page in "My Tasks".

![qa-bug](https://cloud.githubusercontent.com/assets/92356/4016462/5f5a939a-2a35-11e4-89b8-6d5138f23321.png)

[2014-08-22 20:11] pva opened #38 "No visual feedback for test case Result buttons"
Whenever I press (Passed|Failed|Blocked) button to enter test result there is no visual feedback so once I change coursor to different location I have no idea what was pressed. Some visual feedback should be there.

![qa-bug1](https://cloud.githubusercontent.com/assets/92356/4016759/3a879dda-2a38-11e4-91df-14b7038fe7cd.png)

[2014-08-25 05:29] pva opened #39 "Select All Visible works only once"
At http://server/test_cases page. Expand something to make some test cases visible. Then press Select All Visible, then Deselect All Visible. At this point Select All Visible is not working any more. (Browser Firefox 31.0)

[2014-09-03 06:09] kirantpatil opened #40 "Update rails to 3.2.19 and ruby to 2.0 for security and performance"
Hi,

Rails has released security fix release as below
http://weblog.rubyonrails.org/2014/7/2/Rails_3_2_19_4_0_7_and_4_1_3_have_been_released/

Ruby version needs to be upgraded from 1.9.3 to 2.0, giving noticeable performance boost to the application, making it feel snappier.

Thanks.

[2014-09-03 09:45] kirantpatil opened #41 "Unable to Export testcase which has blank Test Type"
Steps to reproduce:
1. Create a testcase with no test type
2. Try to export it by clicking on "Export Selected" button from test_cases page

Actual output:
The page shows error message as below

An error has occurred.
If you continue to experience issues with this page, please contact your system administrator.

Expected output:
The testcase should be exportable
 or
Display an pop message to add "

[2014-09-23 00:02] agramian opened #42 "Google Auth account linking still requires password entry for user in database"
In order to log in with a google account, there must be user with a matching email address already present in the database.  The TCDB and Google accounts are then linked after the first log in attempt.

When creating a user through the web UI, it requires you to enter a password.  This becomes an issue if you want to create accounts for other people without making them come and manually enter thei

[2014-09-23 03:54] #37 closed, assigned to nobody

[2014-09-23 15:42] #31 closed, assigned to nobody

[2014-09-23 21:01] agramian opened #43 "Stencils are not displayed with strikethrough when deprecated"
When a new version of a stencil is created and the previous one is deprecated, it does not show the old version with a strikethrough in the stencil index list page.

Also as another suggestion, since it is possible to delete stencils and test plans, it should be possible to modify a previous version's deprecated value from the web ui.

[2014-09-24 18:01] harshith30 opened #44 "Alignment issue in Test Plans"
Hi,
   In the Test Plans Tree View the product information is aligned left, which has to be right below
    where the product name starts.

   How the contents looks like in Test Plans Tree View

![test plans tree view](https://cloud.githubusercontent.com/assets/7028737/4392911/5761d728-4413-11e4-9be7-035c96bdb57d.png)

[code]

![test case tree view](https://cloud.githubusercontent.com/assets/7028

[2014-09-25 23:24] agramian opened #45 "[Feature Request] Display partial string when names are too long"
In the test case Tree View as an example, if a test case name or description is too long the table cell is made extremely wide instead of shortening the strings and keeping the cell a reasonable width.

[2014-09-27 09:41] #41 closed, assigned to nobody

[2014-09-29 19:38] agramian opened #46 "[Feature Request] Ability to sort results by the various columns"
It should be possible to sort the test case entries in a test assignment's show page based on the various columns available.  Ideally it should have an additional column indicating the execution order as well.

[2014-09-29 19:39] agramian opened #47 "[Feature Request] Separation of different device results in test assignment show view"
It would be nice to have some organization to separate the results between the different devices in the test assignment view.  A top-level accordion tab with the device names that expands down to show its results should be perfect (just like the category accordions/sub-levels in the test cases list view.

[2014-09-30 05:08] #38 closed, assigned to nobody

[2014-09-30 05:08] #39 closed, assigned to nobody

[2014-10-07 09:29] #44 closed, assigned to nobody

[2014-10-09 03:56] #43 closed, assigned to nobody

[2014-10-13 16:52] agramian opened #48 "[Feature Request] Use JSON instead of XML for the web api"
I have made several modifications and additions to the web api which I need to submit pull requests for so I can take up this task.

Although the api works well enough with XML, it seems a bit slow (at least with Python) which I assume is as a result of converting dictionaries and hashes back and forth between XML.  I'm open to suggestion but from my understanding, the only reason to use XML is if

[2014-10-23 11:52] nagarajpg opened #49 "Intergrating Github Issues to Ticket System"
Hi All,
I want to add Github issue to Ticket System, So that user can raise issue after excuting a testcase.
1) Add Github to config/en.yml
2) Use Github Api Gem to connect with Github ( http://peter-murach.github.com/github )

Am I going in the right way? Please reply.

Thank you.

[2014-11-05 12:32] kirantpatil opened #50 "[Feature Request] import/export HP Quality Center format"
Support for QC testcase import/export format would attract more users to testcasedb to deploy.

That way testcasedb may get more developers and contribution as well.

@joffems what do you think ?

https://github.com/prove/tarantula/issues/67#issuecomment-61788938

[2014-11-13 06:58] agramian opened #55 "[Feature Request] Integrated documentation"
TestCaseDB should have an integrated HTML documentation section as part of the default install.
Eventually the contents of the admin and quick start guides should be html documents but for now they should be downloadable/viewable as PDFs directly from the web interface.
Once a layout and overall pattern is established for this documentation section I will document the v2 web api usage.

[2014-11-13 07:13] agramian opened #56 "[Feature Request] VirtualBox image with TestCaseDB pre-installed"
The TestCaseDB installation process is not very straightforward especially since it currently only works with a specific version of Ruby on Rails 1.9.3

Even when the project is upgraded to use the latest Rails, a VirtualBox Image with TestCaseDB pre-installed should be available.

Also the instructions for initial setup can be more detailed for users who prefer to install it manually.

[2014-11-17 21:04] agramian opened #60 "[Feature Request] Ability to upload screenshots to results and have them displayed"
This feature will be extremely helpful for web, mobile, and gui testing.  The idea is to allow images to be uploaded via the web interface as well as the web api.

Eventually it will be nice to have this feature for all item types (test cases, plans, assignments, devices, etc. ) but the priority should be for results.

When the result is viewed through the web interface, the screenshots should be

[2014-11-23 05:22] #48 closed, assigned to nobody

[2014-11-30 11:34] kiranfractal opened #63 "[Performance] ruby-prof-flamegraph support"
Hi,

I found this gem "gem 'ruby-prof-flamegraph'" at https://github.com/oozou/ruby-prof-flamegraph which may help us to detect performance issues.

Thanks.

[2014-12-22 15:46] #40 closed, assigned to nobody

[2014-12-29 10:30] kiranfractal opened #64 "404 page while accessing the webapi using json format"
Hi,

I am trying to check the webapi with json as below and it is giving me 404 error.

##### cat command.json :
-----------
{
  "api_request": {
    "command": "CheckVersion",
    "option1": "dummy1",
    "value": "1.2.3",
    "api_key": "oMPIgICN9KXsDhGgxfh"
  }
}

### curl -k --data-ascii @command.json https://178.79.180.79/versions /search.json?api_key=oMPIgICN9KXsDhGgxfh
----
<!DOCTYPE html>

[2015-01-03 18:21] joffems commented on #60
@agramian This will definitely be added in the near future.

[2015-01-03 19:01] agramian commented on #64
This is intended behavior. You do not want the test only items available in the production environment.

You need to start the rails server in development or test mode and make sure the test/development environment and databases have been properly set up.

I believe to run in development or test mode you must run the setup script without the -p flag to create the databases and then for the gems ru

[2015-01-05 19:24] agramian commented on #45
@harshith30 have you had a chance to address this?

[2015-01-06 05:37] harshith30 commented on #45
Hi,

    I was able to do it partly, right now i'm stuck with some network
issues , which is not allowing me to access Hithub, as soon as it gets
resolved ,i will add more details to it.

Harshith

On Tue, Jan 6, 2015 at 12:54 AM, Abtin Gramian <notifications@github.com>
wrote:

[2015-01-08 17:08] kirantpatil commented on #64
@joffems, can we have a simple automation script using v2 webapi ?

[2015-01-08 17:09] kirantpatil commented on #49
any updates on this ?

[2015-01-08 17:30] agramian commented on #64
@kirantpatil can you be more specific? What language and what are you trying to do? The v2 API provides very detailed error messages. Are you not able to even send and receive a request? You van even test it with a GUI tool like API kitchen.

[2015-01-08 18:39] kirantpatil commented on #64
@agramian, I need a simple script to as shown in http://news.testcasedb.com/wp-content/uploads/2012/05/automation_example1.pdf  for testing GUI. I have no idea of how to access them and come up with a automated script.

I will check with API kitchen.

Thanks.

[2015-01-08 18:57] kirantpatil commented on #64
I would like to use ruby to automate.

[2015-01-08 19:13] agramian commented on #64
First of all @kirantpatil let's go back to your first example.

If you look at https://github.com/msjit/testcasedb/blob/master/spec/webapi/versions_api_spec.rb you will find example usage of the versions endpoint.

Your code should be revised as follows and it should work.

contents of command.json:
[code]
curl command to TestCaseDB v2 web api
[code]

[2015-01-09 05:21] kiranfractal commented on #64
@agramian, yes now it worked. Thanks a lot.

[2015-01-09 05:23] #64 closed

[2015-01-10 12:59] kirantpatil opened #65 "User webapi is unnecessary"
In reality we don't see a separate user for automation purpose.

So, IMHO it is better to remove webapi user and allow by default QA manager, Senior Tester and Tester to act as webapi user.

Thanks.

[2015-01-10 13:01] kirantpatil commented on #56
Docker would be a better option.

[2015-01-11 14:17] nagarajpg opened #66 "Result doesn't show any fields to select."
Hi

I have installed tcdb from current master branch. I am running it in development environment and not enaled https.

When I excute a sample test case Result does not show any fields to select ex. pass fail etc...
![tcdb](https://cloud.githubusercontent.com/assets/700980/5695456/828e78ae-99ca-11e4-8f91-dd0f806a7b03.png)

--
Thanks

[2015-01-12 04:45] joffems commented on #66
@nagarajpg Thank you for reporting this issue.

A fix has been pushed to resolve this issue. If you pull the latest code you should be able to set the result status.

[2015-01-12 06:07] nagarajpg commented on #66
Thank you :+1:

[2015-01-12 06:07] #66 closed

[2015-01-12 10:59] kiranfractal commented on #66
Dear @nagarajpg, have you tested it before closing the issue ?

[2015-01-12 11:46] nagarajpg commented on #66
No, not pull yet. just thought the issue has been fixed. if the issue
remain I will reopen the issue

Thanks

--
Nagaraj

On Mon, Jan 12, 2015 at 4:29 PM, kiranfractal <notifications@github.com>
wrote:

[2015-01-12 11:57] kiranfractal commented on #65
Any thoughts on this change ?

[2015-01-12 15:05] joffems commented on #65
I prefer having a separate user for tracking and auditing purposes.

[2015-01-12 15:10] kirantpatil commented on #65
How about combining roles ?

Ex: Tester + Webapi user, Senior Tester + Webapi User

That way we will have more granularity for user roles.

On Mon, Jan 12, 2015 at 8:35 PM, joffems <notifications@github.com> wrote:

[2015-01-12 15:21] joffems commented on #65
I don't have a problem with assigning multiple roles to a user, but that is a lower priority task.

I'm still not sure what the major issue is that we're trying to address here. Why do you want automated script tasks to be run by users?

[2015-01-12 16:26] nagarajpg commented on #66
Yes, it is fixed.  Closed this issue

Thank you

[2015-01-12 16:33] kirantpatil commented on #65
In product companies a person who is testing a module has to automate the same. He is the owner for both manual testing and automation.

With this combining roles we will have most flexibility and satisfies the requirement for different people needs.

[2015-01-17 16:41] kirantpatil commented on #60
One more scenario where upload image is very essential.

BUI/GUI automated test fails, then  screenshot needs to be taken and uploaded for failed test result.

I am planning to use it and it makes very handy when we run BUI/GUI testing on a product with 100s of feature testcases.

So, very essential feature  +1

[2015-01-22 11:18] neusdan opened #68 "[Feature Request] Preconditions for test cases"
Hi,

i would like to add preconditions to test cases. Things that have to be checked before the actual steps.
I tried to do this by defining a custom field for test cases but unfortunately this is not shown during execution.

[2015-01-22 14:48] joffems commented on #68
@neusdan, tt sounds like there are 2 issues here. Custom fields are not displayed during execution and you want pre-conditions. I'll look into tackling both issues.

[2015-01-27 00:03] agramian commented on #45
@harshith30 any updates?

[2015-01-27 14:06] neusdan commented on #14
+ 1

[2015-01-27 16:00] harshith30 commented on #45
Hi,

  I'm sorry i was busy with personal problems, i will update it and report
in few days.

Thanks

On Tue, Jan 27, 2015 at 5:33 AM, Abtin Gramian <notifications@github.com>
wrote:

[2015-02-01 06:15] joffems commented on #60
@kirantpatil @agramian I've updated the results page to use drag and drop image uploads with a larger preview. Please check it out.

My next step is to clean up the code so it can be used on any model.

[2015-02-02 03:28] joffems commented on #60
@kirantpatil @agramian I've now re-written the upload model. The model has been updated to use a polymorphic association. The remaining code has been written to take advantage of this. Details are in the commit https://github.com/msjit/testcasedb/commit/081d5b61004c56cfc9552a094abdbc4f44b8ce62

[2015-02-03 10:39] caschulz88 opened #69 "Sorting of categories alphabetically"
Hi,

there are two issues in TestCaseDB in case you add multiple sub categories to a category:

1. They are sorted using their IDs instead of using alphabetically sorting.
2. The ID sorting is also broken. The number 100 is higher in the list as then entry 99 for example, since TestCaseDB only checks that the 1 is lower than the 9 instead of taking care of the whole number.

Fix 1 is really want I

[2015-02-03 17:04] kirantpatil opened #70 "Unable to save attachement"
Hi,

I did below steps to update the app
1) git pull
2) rake db:migrate RAILS_ENV=production
3) rake assets:precompile RAILS_ENV=production

I went to Result screen of one of the executed testcase and tried to upload a screenshot which is giving me below error.

It is expecting to install ImageMagick, is that correct ?

![screenshot from 2015-02-03 22 28 24](https://cloud.githubusercontent.com/ass

[2015-02-03 17:09] joffems commented on #70
ImageMagick is a system requirement for running TestCaseDB. the system uses ImageMagick to resize and alter images for previews. The install is included in the documentation. Installing imagemagick is pretty simple on ubuntu.

[code]

[2015-02-03 17:52] agramian commented on #60
@joffems i'm having problems getting testcasedb to even run now.  I'm not sure if it is a result of these changes, or if I need to upgrade ruby or rails.  Can we collectively prioritize setup instructions and issues #55 and #56 ?

[2015-02-03 17:58] joffems commented on #60
We can definitely prioritize that.

Do you want to send me the logs for the issue, "getting testcasedb to even run now".

Also after pulling the latest code did you run the following commands (assuming you're in a production environment).

[code]

[2015-02-03 18:08] agramian commented on #60
yes i'm getting
[code]

[2015-02-03 18:21] agramian commented on #60
I changed the import from 'jquery.ui.all' to 'jquery-ui' and it starts running but then a ton of warnings are generated.

[code]

[2015-02-03 19:27] agramian commented on #60
Ok it seems to work despite the warnings however the execute page accessed from the assignment overview page (ex: https://testcasedb.com/results/1/edit) does not render for me and just shows a 500 internal server error in the log. I had to manually set the result of the assignment case to 'Passed' in the database to get the view to render.

After it rendered I experimented with the screenshot uplo

[2015-02-03 19:44] agramian opened #71 "[Task] Implement ability to upload attachments through v2 web api"
Documenting my task to implement uploading attachments via the version 2 web api.

I will specifically focus on uploading images and make sure that works well before worrying about other types of attachments.

[2015-02-03 19:48] agramian commented on #55
We need to get some basic documentation for setting up/installing TestCaseDB.
Specific instructions should also be provided for setting up a proper development environment so that people can easily contribute to the project.
I develop on OSX pretty often so it would be nice to have instructions specific to setting up on a Mac.

[2015-02-04 14:59] joffems commented on #60
@agramian Interesting that you had to change that import. The files should import from the gem.

Can you please let me know which version of Rails and jquery-ui-rails you have installed. You can use the command, "gem list rails" to find these two items.

[2015-02-04 15:15] joffems commented on #55
@agramian @kirantpatil

I've developed a prototype help feature with the following features.

1. Help modal on the right hand side of page
2. Help modal loads content dynamically from server. Loaded content is dependent on the URL of the current page that you're on.

A few notes.
- You can checkout a basic demo of the feature at http://www.testcasedb.com/download/help-demo.mov
- Feedback would be

[2015-02-04 15:56] kirantpatil commented on #55
@agramian, it has come out really well. :+1:
The design is good enough.

[2015-02-04 16:24] kirantpatil commented on #70
Now with imagemagick installed it uploads but does not display the image, as shown in below screenshot.

Also we should get some pop up message as upload completed and blue loading bar should not display anymore.

![screenshot from 2015-02-04 21 49 55](https://cloud.githubusercontent.com/assets/1178055/6044195/d11b25f8-acb7-11e4-89de-a2216590ec5c.png)

[2015-02-04 16:26] joffems commented on #70
Assuming things are working, the image should appear as  soon as the upload is complete. I'm assuming that the conversion failed.

Can you please provide logs from the image upload.

Also, I will change the progress bar to disappear when the upload is complete.

[2015-02-04 16:50] kirantpatil commented on #70
What logs should I provide ?

production.log or unicorn or any other ?

On Wed, Feb 4, 2015 at 9:56 PM, joffems <notifications@github.com> wrote:

[2015-02-04 16:52] joffems commented on #70
If you're running the production environment, production.log would be useful.

[2015-02-04 16:57] kirantpatil commented on #70
Please find the attached production.log file.

On Wed, Feb 4, 2015 at 10:22 PM, joffems <notifications@github.com> wrote:

[2015-02-04 18:46] joffems commented on #70
@kirantpatil Can you please email the log to me. mjoffe _AT_ msjit.ca

[2015-02-05 06:12] joffems commented on #70
The issue is with file types. The change I made is not working for non-image files. I simply need to set an icon for other file types. I will fix in the morning

[2015-02-05 18:03] agramian commented on #60
@joffems I am using ruby 2.2 and rails 3.2.21 i believe.

Rails 3 is no longer supported by the way.  We should upgrade TestCaseDB to rails 4 and make it compatible with ruby 2.2.

[2015-02-05 21:04] agramian commented on #60
@joffems  I receive the same errors using ruby 2.0

gem versions
[code]
ruby version
[code]

The results/edit view problem is related to the following line in app/views/results/_form.html.erb
[code]
Running the .empty? method on the object is raising some sort of exception.  If I remove that section the page renders.

[2015-02-05 21:07] joffems commented on #60
Thanks for the feedback. Do you have a result not associated with a test case or a test case without steps. I assume it is the former and will add the appropriate checks.

[2015-02-05 21:10] agramian commented on #60
I have test case without steps

[2015-02-05 21:12] joffems commented on #60
Chaning
[code]

to

[code]

should work.

[2015-02-05 21:23] agramian commented on #60
My mistake that's not the issue.  The issue is with the upload form and the edit page.

If I remove the following line from app/views/results/edit.html.erb the page renders
[code]

This only occurs when accessing the result edit page when the result is not yet set (it is NULL in the database before the first run).  If i manually set the result to something in the database then the edit page render

[2015-02-05 21:26] joffems commented on #60
Ah, I missed that item. I need to do a global query for that. In the meantime can you change

[code]

to

[code]

This assumes that we have @result available. I don't have the code open to check right now.

[2015-02-05 21:29] agramian commented on #60
That worked.

[2015-02-05 22:28] agramian commented on #60
@joffems One of the recent commits possibly 4314c4185fc9a5708c835a94991617e8038c7023 reverted the ability to edit the result after it has been set.  Was this intended?  I would like to change results manually if necessary.

[2015-02-06 01:22] agramian opened #72 "Category display and creation issue"
There is some issue with the newest revision when creating and displaying categories.
Rails v3.2.21, Ruby v2.0
Please see the gif below.
![category-issue](https://cloud.githubusercontent.com/assets/7113257/6072833/4627b52a-ad5b-11e4-8d30-caf6a6b4aa6d.gif)

[2015-02-06 05:41] joffems commented on #12
@kirantpatil The code for this has been committed.

I'll be writing up instructions in the few days. Notice that if you don't make any config changes, the feature will simply be ignored.

[2015-02-06 05:53] joffems commented on #60
@agramian There was one other line which had the same issue. Both locations are now fixed.

[2015-02-06 18:42] agramian commented on #71
@joffems I have the attachment upload working through the web api however I cannot figure out how to generate the thumbnail and preview versions if it is an image.  Where is the code performing this post-processing to generate the extra image sizes?

[2015-02-07 02:29] kirantpatil commented on #70
I upgraded to latest master and made changes for nginx in production.rb file and restarted the app and nginx and tried to upload a image and the blue bar still does not disappear once upload is finished.

![screenshot from 2015-02-07 07 58 39](https://cloud.githubusercontent.com/assets/1178055/6090433/28848846-ae9f-11e4-9017-324ee83194bf.png)

[2015-02-07 04:46] joffems commented on #71
The code that triggers this is a built-in processor in paperclip. The processor uses the styles defined in uploads.rb.

The paperclip details can be found on the gem's github page. https://github.com/thoughtbot/paperclip

[2015-02-07 05:09] joffems commented on #70
@kirantpatil A fix for the progress bars has been pushed.

[2015-02-07 05:24] joffems commented on #12
@kirantpatil There are instructions in the README file explaining how to enable Redis.

[2015-02-07 15:17] kirantpatil commented on #70
I updated the code and recompiled assets and reloaded unicorn and nginx and issue still persists.

![screenshot from 2015-02-07 20 44 30](https://cloud.githubusercontent.com/assets/1178055/6092558/6fd4134a-af0a-11e4-88ef-09a664f81d9e.png)

[2015-02-07 21:11] joffems commented on #70
@kirantpatil Did you force a refresh in your browser? I currently can't reproduce this with the latest code in master.

Also, can you please let me know which browser you're seeing this issue with.

Thanks,
Marc

[2015-02-08 17:05] kirantpatil commented on #70
I think I missed the nginx configuration file correction part. Looking in to it.

I added below code to nginx conf file, I am getting "404 Not Found" page for it.

I am getting below error.

testcasedb$ tail -f log/unicorn.stderr.log
X-Accel-Mapping header missing
X-Accel-Mapping header missing
X-Accel-Mapping header missing
X-Accel-Mapping header missing
X-Accel-Mapping header missing
X-Accel-Map

[2015-02-10 20:55] agramian commented on #71
@joffems attachments uploading is implemented with PR #73
Currently it will only allow Result attachments.  Once you have finished the uploads to apply to the other objects let me know and I can update.

[2015-02-10 21:02] agramian opened #74 "[Feature] Ability to navigate between test results from a result view page"
Currently there is no link from an individual result's view page to navigate to the next or previous result. You must go back to the assignment overview then click on another test case.

I would like at least next and previous buttons to exist on each individual result view page to allow easy navigation between the results.

Another nice feature would be a drop down within the individual result vi

[2015-02-13 00:12] kirantpatil commented on #70
I reverted all changes of nginx conf file and with only change in production.rb file image upload, delete works fine but I have no idea why the blue bar is not disappearing.

[2015-02-13 00:31] kirantpatil commented on #70
I did "sudo ldconfig /usr/local/lib" as mentioned in http://robmclarty.com/blog/how-to-install-image-magick-and-setup-paperclip and restarted unicorn and nginx and it works now...

[2015-02-13 00:31] #70 closed

[2015-02-14 01:20] agramian commented on #72
@joffems please take a look at this issue. It is completely breaking the ability to navigate around.  The database storage of the items seems correct with just one of each item stored, however duplicates are displayed.  I've attached a larger gif.

![20150213-171619_capture](https://cloud.githubusercontent.com/assets/7113257/6197966/53c2fa7e-b3a4-11e4-9f00-49a7925f0b7c.gif)

[2015-02-14 11:26] kirantpatil commented on #72
I am at latest master branch and I added new product and created category and I don't see any issue.

kiran@jaihanuman:~/testcasedb$ git log
commit fc0218628119249f5b4c45d3147ace632d3770f7
Author: Marc Joffe <mjoffe@msjit.ca>
Date:   Sat Feb 7 00:23:26 2015 -0500

    Add basic Redis instructions to the README

![screenshot from 2015-02-14 16 53 48](https://cloud.githubusercontent.com/assets/11780

[2015-02-14 18:31] agramian commented on #72
My Rails server is running in development mode on a Mac with OSX 10.9
I'll do a diff with my local code and the master branch and maybe try reinstalling TestCaseDB.

[2015-02-17 03:45] kirantpatil opened #76 "[RFC] issue management system for TCDB"
Hi,

I would like to know your opinion of having issue management as part of TCDB.

It is really difficult to maintain one project issue in Github and another in bugzilla and another in Gitorious and so on.

It make much sense to have a issue management system in TCDB and that way we need not worry of sending issues to different systems.

Note: Bugzilla has testopia as testcase management system.

[2015-02-17 21:58] agramian opened #77 "[Feature Request] Improved presentation and sorting ability of results"
This is a general feature request to address results view improvements.  Issues  #45, #46, #47 which I previously opened fall under this issue.

Currently the results view displays a giant list which is not ideal for reviewing hundreds of items.  Below are my suggestions for improvements:

1. Ability to sort results view by the columns
2. Ability to filter the results view to only view results whi

[2015-02-17 22:40] agramian opened #78 "[Bug] Stencils show page fails to render if stencil has no description"
If no description is entered for a stencil (description is NULL in the database), the view fails to render with the following error.
[code]
The truncate method shouldn't be called unless a string is present, or the default value for the description field should be an empty string.

[2015-02-18 06:23] kiranfractal opened #79 "[RFC] UI redesign"
UI  looks good but frankly it is bit dated, and IMHO we should change it to look more dynamic as github site looks.

The design of github is really handy to navigate and for that matter tarantula is also nice (http://www.testiatarantula.com/)

We need a combination of both tarantula and github :)

I welcome your thoughts on this.

Thanks.

[2015-02-18 16:08] joffems commented on #79
A UI redesign is something I want to tackle, but simply haven't had time to do.

I may start coming up with designs and placing them in this ticket for feedback. I've considered many ideas, including putting the menu on the left side of the screen with an ability to minimize it.

[2015-02-18 16:17] joffems commented on #78
@agramian Fix has been pushed. Never noticed this before as the form normally records an empty string as the value.Out of interest, did you create the test plan via the API?

[2015-02-18 16:18] joffems commented on #77
This is a great summary ticket. I think I will tackle this in combination with a UI redesign

[2015-02-18 17:45] agramian commented on #78
@joffems yes i created via the API

[2015-02-19 03:43] kirantpatil commented on #76
I will work on this and will report the progress. But keep pouring your the suggestions. Goal is to keep it simple and usable.

[2015-02-19 04:52] kiranfractal commented on #79
Before UI redesign shall we check whether RAILS 4/4.1 migration has any
merits ?

On Wed, Feb 18, 2015 at 9:38 PM, joffems <notifications@github.com> wrote:

[2015-02-19 12:56] kiranfractal commented on #79
some of Rails 4 links to ponder upon:

http://weblog.rubyonrails.org/2014/12/19/Rails-4-2-final/
https://gorails.com/episodes/rails-4-2-introduction
http://technology.customink.com/blog/2014/09/16/from-rails-3.2-to-4.2/
http://railsapps.github.io/updating-rails.html

[2015-02-19 13:51] kiranfractal commented on #79
One of the strongest reason to move Rails 4.2 is AdequateRecord which make ActiveRecord 2x faster.

http://tenderlovemaking.com/2014/02/19/adequaterecord-pro-like-activerecord.html
http://blog.newrelic.com/2014/04/25/ponies-rails-adequaterecord/

[2015-02-19 15:17] joffems commented on #79
I'm happy to move to Rails 4.2 as part of the process. I did start the process several months ago, but then stopped to work on other features and bug requests. I'm going to create a Rails4.2 branch to get the work started.

[2015-02-19 15:18] joffems commented on #78
This can definitely occur on other pages. I'm going to have to do a search for .truncate(  and then fix all the possible NPE exceptions.

[2015-02-19 15:20] joffems commented on #76
Personally, I don't want to tackle this project right now. There are many great ticketing systems out there that companies have been using for a long time. That said, I'd be happy to accept work for this part of the project if you're willing to tackle it.

[2015-02-19 16:46] kirantpatil commented on #76
Sure, I will tackle it. Even at first I was not in opinion of having it. But now it is making more and more sense to me to have it.

[2015-02-19 16:51] kirantpatil commented on #79
Great, let's get started, I will use Rails4.2 as base for issue management feature development.

[2015-02-19 21:29] agramian opened #80 "[Bug] User is not redirected to desired page after log in"
If a user is not logged in to TestCaseDB and they attempt to access a specific page (ex: testcasedb.com/assignments/1), they are directed to the log in page.  After logging in they are taken to the testcasedb instance's home page rather than the specific link they were trying to access.

[2015-02-20 09:58] kiranfractal commented on #76
I will use rails engine with the current Rails 3.2.21. So that I will get first hand experience of using engines and later can be ported to Rails 4.2.

[2015-02-21 02:12] agramian commented on #71
@joffems PR #81 has the photos replaced with open source ones as well as some fixes/improvements to attachment uploading

[2015-02-27 04:27] joffems commented on #60
@agramian Can this be closed?

[2015-02-27 08:17] kirantpatil opened #82 "[Feature request] Navigation of projects/testcases ... in readonly mode"
Rather than providing a username and password to enter in tcdb, we should allow anybody to see the projects and testcases and so on..

We should provide it as a admin option to enable or disable it.

[2015-02-27 17:32] agramian commented on #60
@joffems Yes this can be closed.  Screenshot upload works and we can open improvement tickets later if necessary after other higher priority issues are addressed.

[2015-02-27 17:51] #60 closed

[2015-02-28 12:36] kirantpatil opened #84 "500 error on refreshing the logout url"
Steps to reproduce:
-----------------------
1) login to tcdb using any username/password
2) logout of tcdb
3) refresh the browser

Expected output:
--------------------
Logout should not display in URL once tcdb is logged out

Actaual output:
------------------
After logout the URL displays the logout in the URL
or
After refresh the logout should no longer appear in the URL

Error message on brows

[2015-03-04 11:16] kirantpatil opened #85 "need a script to run automation using webapi v2"
@joffems.

There are still lot of issue of running a below script which I would like to make it as part of automated Funcational testsuite using webapi v2.

$ cat valid_login.rb
require 'watir-webdriver'
browser = Watir::Browser.new :firefox
browser.goto "http://192.168.1.244:8081/"
browser.text_field(:id => 'id_username').set("admin")
browser.text_field(:id => 'id_password').set("admin")
browser.

[2015-03-04 21:55] joffems commented on #85
The code that you included does not have anything to do with TestCaseDB. That is simply watir code. IS there a TestCaseDB specific question?

[2015-03-05 03:32] kirantpatil commented on #85
I would like to add web v2 api to call it from testsuite.rb --> login.rb. The code in testsuite.rb contains web v1 api and xml stuff to parse URL and so on.

[2015-03-06 09:21] nonovaliant opened #86 "how to import test_cases"
we export test_cases and modify it to import, but failed.

![screenshot from 2015-03-06 17 36 01](https://cloud.githubusercontent.com/assets/11347581/6523087/4caebd8e-c427-11e4-81a6-747b8377549a.png)

![screenshot from 2015-03-06 17 37 55](https://cloud.githubusercontent.com/assets/11347581/6523111/8bbdbe30-c427-11e4-85ab-960c2c7fa232.png)

[2015-03-09 04:14] joffems commented on #86
Looking at your screenshot the description is using special characters. IF you remove the description does the import work?

[2015-03-09 10:43] kirantpatil commented on #49
Hi Nagaraj,

I think it is better to have a issue tracker in the TCDB itself.

I have raised an RFC for that, so please let me know what do you think.

If you agree then let me know so that we can tackle it together.

[2015-03-09 10:44] kirantpatil commented on #49
https://github.com/msjit/testcasedb/issues/76

[2015-03-11 08:10] nonovaliant commented on #86
no , it just is  chinese!

[2015-03-11 08:42] nonovaliant opened #87 "how to change result?"
after i execute the case and save it , or jump the case to do the next. the result of case can't be changed or reset it.
![screenshot from 2015-03-11 16 40 17](https://cloud.githubusercontent.com/assets/11347581/6592847/8814d586-c80d-11e4-8e44-1c70364f91a8.png)
![screenshot from 2015-03-11 16 40 41](https://cloud.githubusercontent.com/assets/11347581/6592852/8de02bdc-c80d-11e4-81c9-aa8dbb83cd2e.pn

[2015-03-12 17:44] kirantpatil commented on #68
@neusdan, how about if you define the preconditions in the step itself. That way the testcase will be more complete.

[2015-03-23 00:59] joffems commented on #87
@nonovaliant There is a setting that can be enabled that allows users to change the result of a test case after it has already been set.

Open Admin -> Settings and enable "Low quality chocolate. Oddly, the insects were not the disgusting part! Not worth it."

[2015-03-23 00:59] #87 closed

[2015-03-23 01:01] joffems commented on #86
Did you try removing the Chinese characters to see if makes a difference?

Also, the system is not designed to export data and then re-import. IF you need to edit test cases they should be edited in the system.

Closing for now as I don't think this is being used as intended. IF you can't import the standard test cases with Chinese characters, please create a new ticket.

[2015-03-23 01:01] #86 closed

[2015-03-23 01:06] joffems commented on #84
@kirantpatil A fix has been pushed.

[2015-03-23 01:16] joffems commented on #80
@agramian A fix has been deployed for this issue.

[2015-03-23 01:21] joffems commented on #78
@agramian I went digging through the code and I don't believe that this issue should occur anywhere else. Closing for now. Please re-open if you hit another issue.

[2015-03-23 01:21] #78 closed

[2015-03-23 01:24] joffems commented on #72
@agramian Are you still having this issue? I cannot reproduce this locally.

If it is still occurring, which browser are you using.

[2015-03-23 01:55] joffems commented on #55
@kirantpatil I've merged the online help into the main branch.

[2015-03-23 02:08] joffems commented on #12
Redis has been added to the admin guide.

Closing.

[2015-03-23 02:08] #12 closed

[2015-03-23 02:16] joffems commented on #68
@neusdan I've fixed the execution page to include your custom fields. Note that you will not see the field on the execution page if the field hasn't been included on the test case.

[2015-03-23 02:17] joffems commented on #63
@kiranfractal Are you seeing perfromance issues? This is definitely a worth while task, but it may be useful to leave this until there are complaints and/or a new UI.

Closing for now.

[2015-03-23 02:17] #63 closed

[2015-03-23 05:08] kiranfractal commented on #63
I have not seen any issues so far.

I agree with you and we can take it up later.

Thanks.

On Mon, Mar 23, 2015 at 7:47 AM, joffems notifications@github.com wrote:

[2015-03-23 15:44] kirantpatil commented on #84
the bug has been verified and resolved.

[2015-03-23 15:44] #84 closed

[2015-03-23 17:40] agramian commented on #72
@joffems yes I still have this issue.  I am using the latest version of master with ruby-2.0.0-p598, Rails v3.2.21, Mac with OSX 10.9, Chrome Version 41.0.2272.89 (64-bit)
All objects are displayed as duplicates, not just the categories.  Are you using a mac to try and reproduce this?

[2015-03-23 18:39] agramian commented on #60
@joffems we never addressed the issue from my comment https://github.com/msjit/testcasedb/issues/60#issuecomment-72702391 regarding the require statement for jquery-ui and the warnings generated during the rake asset recompilation.

[2015-03-24 17:11] kirantpatil opened #88 "test users cannot see product description"
For testers there should be a way to see products description. Since a QA manager assigns the product, he could only see the product name only and not its description.

Allow the testers to see list of products assigned to them and its descriptions.

[2015-03-24 17:24] kirantpatil opened #89 "Help at test_plans page UI issue"
Minor UI changes need to be done when we scroll down the test_plans page.

![screenshot from 2015-03-24 22 48 43](https://cloud.githubusercontent.com/assets/1178055/6808064/0976296c-d278-11e4-8152-a2d35b362ac4.png)

[2015-04-07 07:33] caschulz88 opened #90 "[Feature Request] Removing multiple test cases at once"
Current it is not possible to remove multiple test cases at once (for example by adding selection boxes and select multiple entries and press remove button).

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 10 of 10 of our feature requests (lowest priority).

[2015-04-07 07:38] caschulz88 opened #91 "[Feature Request] Categories are not sorted in alphabetical order"
It would be nice to have categories, test cases and so on sorted in alphabetical order.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 9 of 10 of our feature requests.

[2015-04-07 07:40] caschulz88 opened #92 "[Feature Request] Add image to test case step and display it at manual test execution"
We need to add an image to each step in the test case specification, which should be displayed in case a manual test execution is done.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 8 of 10 of our feature requests.

[2015-04-07 07:50] caschulz88 opened #93 "[Feature Request] Sorting of custom fields should be possible for each test case"
We need to sort custom fields, that have been specified before, for each test case.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 7 of 10 of our feature requests.

[2015-04-07 07:52] caschulz88 opened #94 "[Feature Request] Move test case, sub-categories, test plans, etc."
Currently it is not possible to move for example test cases, sub-categories, test planes and so on in TestCaseDB. This feature is really needed in case someone needs to reorganize the TestCaseDB installation.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 6 of 10 of our feature requests.

[2015-04-07 07:54] caschulz88 opened #95 "[Feature Request] Changes in custom fields must also apply to existing test cases"
At the moment changes in custom fields will only apply for test cases that will be created afterwards (newly created test cases). This feature is really needed - otherwise custom fields are not maintainable.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 5 of 10 of our feature requests.

[2015-04-07 07:55] caschulz88 opened #96 "[Feature Request] Categorization of custom fields"
We need to put custom-fields in categories so that we can simply select the custom-fields-category in a test case, which will then provide the configured custom-fields for this category in the test-case.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 4 of 10 of our feature requests.

[2015-04-07 07:56] caschulz88 opened #97 "[Feature Request] Adding new custom fields with default value to old test cases."
After adding new custom fields, they must be applied with default value to old test cases.

This feature request is part of a list of feature requests we analyzed for our own usage. This is priority 3 of 10 of our feature requests.

[2015-04-07 07:58] caschulz88 opened #98 "[Feature Request] Remove of non-empty test plans, sub-categories, etc."
Currently it is only possible to remove sub-categories, etc. in case they are empty. We also need to remove those in case they are not empty. Adding a dialog with the information that there are still things in the sub-categories, etc. and ask if the user really want to remove everything would be also nice.

This feature request is part of a list of feature requests we analyzed for our own usage. T

[2015-04-07 08:02] caschulz88 opened #99 "[Feature Request] Custom fields must be configurable in categories"
Custom fields are currently configured globally for all test cases. We need them to be configurable in categories, so that a n to n relation is linked between custom fields and custom field categories. These categories should be configurable using the GUI. Each custom fields should be part in multiple categories and a category should include multiple custom fields.

This feature request is part of

[2015-04-07 08:21] caschulz88 commented on #69
Can be closed. I opened a new issue for that with our priority added:

https://github.com/msjit/testcasedb/issues/91

[2015-04-07 08:21] #69 closed

[2015-04-07 10:58] neusdan commented on #68
Thanks! Would be also nice if only those custom fields are shown which are actualy defined

[2015-04-24 21:46] agramian commented on #79
@joffems It seems work has stagnated.  What do you think of the idea of updating what we have so far to the latest rails then converting it to a completely api based backend? Then we can use a javascript framework such as angular js which I am familiar with for the front-end.

So my suggestion is to use ruby on rails strictly for the backend, models, database, etc. and angular js (or another javas

[2015-04-25 14:19] kirantpatil commented on #79
I heard from one of my colleague, that DHH has advised to use Turbolinks
where people want to use Angularjs. IMHO some churning is needed before
embarking on Angularjs.

On Sat, Apr 25, 2015 at 3:16 AM, Abtin Gramian notifications@github.com
wrote:

[2015-04-25 21:51] joffems commented on #79
@agramian I will acknowledge that development has been slow lately. Had to move and I've been very busy. I will hopefully be able to tackle the big changes soon.

That said, I've been brainstorming the update and I think have some good ideas to experiment with. MY new design is going to tackle several of the bugs that have recently come in. I'm going to make a  single page solution for each of the

[2015-04-25 22:11] agramian commented on #79
@kirantpatil obviously the creator of rails will advise people to use rails technology but Turbolinks is not directly comparable to angularjs.  Angularjs is a front-end javascript framework which provides easy ways to manipulate large data sets and deal with authentication, tables, sorting, forms, etc. which TestCaseDB is pretty heavy on.  Turbolinks is a rails technology for speeding up links on

[2015-04-27 05:08] kirantpatil commented on #79
some food for thought.

https://sourcegraph.com/blog/switching-from-angularjs-to-server-side-html
https://twitter.com/dhh/status/435706448627372032

[2015-04-28 21:33] agramian commented on #79
@kirantpatil All 5 points in the blog entry you referenced are very minor and unnecessary considerations for this application and they do not even apply to angular js specifically.  I use angular js and can attest that it is a powerful framework for creating front-ends and one that should be considered for the UI update to TestCaseDB.  The only legitimate issue with angular js that some people poi

[2015-05-20 03:36] joffems commented on #79
@agramian @kiranfractal I'm still planning on moving ahead with this plan. Currently learning a bit of angular before taking the next step.

[2015-06-04 07:55] moimael commented on #56
Yep agreed on Docker !

This is what I use : http://s000.tinyupload.com/index.php?file_id=36751328365054034762

There is the Dockerfile, a run script, docker-compose.yml, A modified Gemfile (master release miss the minitest gem), apahce config and modified database.yml

[2015-06-04 09:53] moimael opened #100 "Integrate with Trac"
Hi,

I can see there is a redmine integration but no trac integration.

It would be great to have !

Thanks !

[2015-06-05 13:54] joffems commented on #56
@moimael Thanks for sharing. I'll look into utilizing this.

[2015-06-05 14:05] moimael commented on #56
I must say the Apache configuration has https disabled since i used this container to evaluate testcasedb (we are adopting it btw :) ) but some requests in the ui still are launched in https (but not all, ... strange). So the Apache configuration must be changed to handle https to work properly.

[2015-06-05 14:06] joffems commented on #56
@moimael There is a Rails configuration setting to force SSL which is what is causing the behaviour that you're seeing.

[2015-06-11 12:55] moimael commented on #56
Thanks ! I refined my docker conf a lot, I'll post it again soon.
In the meantime you should consider adding `gem "minitest-rails", "~> 1.0"` to the Gemfile, without it you can't install testcasedb.

[2015-06-15 08:36] moimael opened #101 "Test case import do not work if file has only one line"
We tried to import test case via xls and found out that if the xls file contains only the title row and one data row, import fail. As soon as we add a second data row, import works.

[2015-06-15 08:40] moimael commented on #79
@joffems, you should consider using React.js with Flux pattern (with something like alt.js or meteor, ...). It is much simpler than angular (lib vs framework) and is well maintained (angular v1 will be deprecated and rewritten), and also make use of really usefull new technologies (Shadow DOM and webcomponent).

[2015-06-15 09:02] agramian commented on #79
AngularJS is a complete framework while React.js is just the V in the MVC pattern.  The main reason people consider using React.js is because of the claims that it renders much faster than other libraries because of the shadow dom, but in my experience it is not significantly more performant than angular.   While it is true angular 2.0 will be released sometime this year or next, 1.0 will still be

[2015-06-15 09:11] moimael commented on #79
Angular is a good framework, I just don't like it ;) I think the main reason people use React + Flux is because of encapsulation and managing state in one place. Also because they choosed the right tradeoff in their design descisions. Performance wise, I agree with you, there is little difference between the two.

Alt is not a backend framework but a flux implementation with is perfectly fine to u

[2015-06-15 09:22] agramian commented on #79
All valid points.

You like using several simpler libs and making them work together and I like keeping things as simple and few as possible ;)  I prefer to use one thing which does everything for front end and one thing for the backend, if not one for both like it is currently (ruby/rails) or with an isomorphic framework like Meteor.  Or back in the day with the php frameworks.

However, here the

[2015-06-15 15:16] joffems commented on #101
@moimael I will investigate. Is your single line entry a complete line? Is every column filled in?

[2015-06-15 15:17] moimael commented on #101
@joffems Yes the line is complete and well formed, with no special characters.

[2015-06-18 06:26] kirantpatil commented on #79
Finally, my vote goes for Aurelia for its similar but elegant approach than angular 2.0 and convention over configuration.

He looks like DHH of Rails :)

http://eisenbergeffect.bluespire.com/porting-an-angular-2-0-app-to-aurelia/
http://eisenbergeffect.bluespire.com/aurelia-angular-2-0-code-side-by-side-part-2/

[2015-06-18 08:12] kirantpatil commented on #79
Youtube videos:

https://www.youtube.com/watch?v=6Pd53umA5wc&list=PLw5h0DiJ-9PCc7IHZt013MmnOvQmcWeq0

https://www.youtube.com/watch?v=kVanPz8lzfY

[2015-07-02 08:45] moimael commented on #56
Here is a complete version with everything needed to run a testcasedb instance !
http://s000.tinyupload.com/index.php?file_id=79281711468281013515

[2015-07-22 07:16] kirantpatil commented on #79
@joffems,

Any updates on which one did you pick ?

Pluralsight has released a new course on aurelia.
http://www.pluralsight.com/courses/building-applications-aurelia

There is a rails app built by one of aurelia dev, where I posted my issues.
https://github.com/PWKad/aurelia-rails

[2015-07-28 22:10] joffems commented on #79
Currently working on the migration to Rails 4.2, Ruby 2.2  and building the json backend. Then planning on working with Angular.

[2015-08-28 21:32] shawndibble opened #102 "Testlink import return 404"
I have followed the instruction in the guide to set config.testlink_allowed to true. I also set the db settings. After that, I executed the url/install/testlink however I get a 404 error. I checked the routes, and there is no reference to install nor testlink.

App 32232 stdout: Started GET "/install/testlink" for 192.168.1.58 at 2015-08-28 16:25:13 -0500
App 32232 stdout:
App 32232 stdout: Action

[2015-09-01 14:04] joffems commented on #102
@shawndibble The issue is in the code. I'm trying to pinpoint when this was introduced.

[2015-09-02 04:42] kirantpatil commented on #79
Dear @joffems,

I would like to go ahead with Ember way.

I also would like to clarify my doubts here.

What about if we move to Rails 5 Api with emberjs ?

http://emberigniter.com/modern-bridge-ember-and-rails-5-with-json-api/

Thanks.

[2015-10-12 11:45] moimael commented on #79
Any progress on this ?

[2016-01-18 12:16] kirantpatil opened #103 "webapi v2 documentation"
For webapi v2 in the latest admin_guide( app/assets/pdf/admin_guide.pdf ) there is no documentation.

Please update it.

Thanks.

[2016-03-01 09:27] kirantpatil opened #104 "unable to build json v1.8.1 with ruby 2.2.x"
Hi,

I tried to build the app on ruby 2.2.x and it gave me json 1.8.1 error which is resolved by updating Gemfile.lock file with Json pointing to v1.8.2 (https://github.com/flori/json/issues/229).

Installed ruby-devel to compile gems with native extensions.

Thanks.

[2016-03-01 09:39] kirantpatil commented on #10
closing this.

[2016-03-01 09:39] #10 closed

[2016-03-01 10:39] kirantpatil opened #105 "scritp/setup is not creating db"
Environment:
[suser@dhcppc33 testcasedb]$ ruby -v
ruby 2.2.4p230 (2015-12-16 revision 53155) [x86_64-linux]

[suser@dhcppc33 testcasedb]$ ./script/setup -p
Updated secret key
Migrating production database
/home/suser/testcasedb/vendor/bundle/ruby/gems/activesupport-3.2.21/lib/active_support/values/time_zone.rb:270: warning: circular argument reference - now
/home/suser/testcasedb/vendor/bundle/rub

[2016-03-02 05:30] kirantpatil commented on #76
closing this for now, since I am planning to use other issue management solutions.

[2016-03-02 05:30] #76 closed

[2016-03-02 06:47] kirantpatil commented on #105
with ruby 2.1.0 the db migration issue resolved.

[2016-03-02 06:47] #105 closed, assigned to nobody

[2016-03-02 06:48] kirantpatil commented on #104
closing this issue

[2016-03-02 06:48] #104 closed, assigned to nobody

[2016-03-09 09:55] hh-it-co commented on #14
+1

[2016-04-16 05:44] kirantpatil commented on #103
Finally we have the documentation.

Please find the download link here, https://drive.google.com/open?id=0B8TPidn4fW-2ZlZ2bmFCbVdEblFncVhXVUZrVWt0ZjJ6R0RZ.

@joffems, please include it in admin_guide.

[2016-04-16 05:44] #103 closed, assigned to nobody

[2016-04-20 12:14] kirantpatil commented on #65
Closing this for now and feel free to reopen if it make sense.

[2016-04-20 12:14] #65 closed

[2016-07-20 08:41] BitByteMaster commented on #14
What's the status of this feature request? LDAP integration support is a must for me...Thanks~

[2016-08-07 10:14] sebastienkb commented on #56
Hi,

I have tried using this docker on my Mac but no avail; this is what I get:
`Loaded plugins: fastestmirror, ovl
Cleaning repos: base epel extras updates
Cleaning up everything
Cleaning up list of fastest mirrors
 ---> 5278e6df36c7
Removing intermediate container 59192c29f9f7
Step 6 : RUN gem install bundler rubygems-update passenger
 ---> Running in 36168f09cfa8
ERROR:  Error installing passen

[2017-02-15 10:01] kirantpatil opened #106 "[FAQ] project status"
Hi @joffems,

Any updates on this project ?

Thanks.

[2018-02-22 12:08] vicziani opened #107 "[Bug] Sample test case xls download doesn't work if not root context"
On the Test Case Upload screen, the Download Sample Speadsheet doesn't work, if the testcasedb wasn't installed on root context. I think it is because missing asset_path call. Same works with sample import users spreadsheet.

[2019-05-15 09:48] NirBY commented on #14
+1

[2020-05-08 20:21] #102 closed, assigned to nobody

[2022-04-28 10:06] #49 closed